html {
	font-family: "Montserrat", sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
	background-color: #f5ba13;
	margin: auto -16px;
	padding: 16px 32px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
	color: #fff;
	font-family: "McLaren", cursive;
	font-weight: 200;
}

.note {
	background: #fff;
	border-radius: 7px;
	box-shadow: 0 2px 5px #ccc;
	padding: 10px;
	width: 240px;
	margin: 16px;
	float: left;
}

.note h1 {
	margin: 0 0 6px 0;
}

.note p {
	margin: 0 0 10px 0;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.note p,
.note h1 {
	font-size: 1.1em;
}

footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
}

footer p {
	color: #ccc;
}
